.vs
.vscode
.idea
.DS_Store
bin
obj
drops
Debug
Release
*.csproj.user
*storage.ide
*storage.ide-shm
*storage.ide-wal
global.json
BundleArtifacts
AppPackages
HomewoodChallenge.Android/bin/Debug/com.companyname.homewoodchallenge.apk
HomewoodChallenge.Android/bin/Debug/HomewoodChallenge.Android.dll
HomewoodChallenge.Android/bin/Debug/HomewoodChallenge.Android.pdb
HomewoodChallenge.Android/bin/Debug/HomewoodChallenge.dll
HomewoodChallenge.Android/bin/Debug/HomewoodChallenge.pdb
HomewoodChallenge.Android/obj/Debug/130/android/assets/HomewoodChallenge.Android.dll
HomewoodChallenge.Android/obj/Debug/130/android/assets/HomewoodChallenge.Android.pdb
HomewoodChallenge.Android/obj/Debug/130/android/assets/HomewoodChallenge.dll
HomewoodChallenge.Android/obj/Debug/130/android/assets/HomewoodChallenge.pdb
HomewoodChallenge.Android/obj/Debug/130/HomewoodChallenge.Android.csproj.AssemblyReference.cache
HomewoodChallenge.Android/obj/Debug/130/HomewoodChallenge.Android.dll
HomewoodChallenge.Android/obj/Debug/130/HomewoodChallenge.Android.pdb
HomewoodChallenge/bin/Debug/netstandard2.0/HomewoodChallenge.dll
HomewoodChallenge/bin/Debug/netstandard2.0/HomewoodChallenge.pdb
HomewoodChallenge/obj/Debug/netstandard2.0/HomewoodChallenge.csproj.CoreCompileInputs.cache
HomewoodChallenge/obj/Debug/netstandard2.0/HomewoodChallenge.csproj.FileListAbsolute.txt
HomewoodChallenge/obj/Debug/netstandard2.0/HomewoodChallenge.dll
HomewoodChallenge/obj/Debug/netstandard2.0/HomewoodChallenge.pdb
HomewoodChallenge/obj/Debug/netstandard2.0/ref/HomewoodChallenge.dll
HomewoodChallenge/obj/Debug/netstandard2.0/refint/HomewoodChallenge.dll
HomewoodChallenge.Android/obj/Debug/130/HomewoodChallenge.Android.csproj.AssemblyReference.cache
HomewoodChallenge.Android/bin/Debug/com.companyname.homewoodchallenge.apk
*.cache
